<html>
	<head>
		<link href="css/bootstrap.css" type="text/css" rel="stylesheet">
		<style>
			* {
				font-family: consolas;
			}
		</style>
		
		<script type="text/javascript">
			setTimeout(function(){
				window.location="http://localhost:4000";
			},5000);
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row text-center">
				<h3 class="col-xs-12 col-md-4 col-md-offset-4"><%= message %></h3>
			</div>
			<br><hr>
			<div class="row">
				<div class="col-xs-12 col-md-4 col-md-offset-4"><img src=<%=req_image%> class="img-responsive img-rounded"></div>
			</div>
		</div>
	</body>
</html>